Package: 9590
Essential: no
Priority: important
Section: main
Maintainer: NEMS Linux <nems@category5.tv>
Architecture: all
Version: 1.0
Provides: 9590
Description: Demo port listener daemon for Getting Started Guide exercise
